.container {
  min-height: 60vh;
  margin-top: 100px;
  padding: 20px;
}

.mainTypography {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.main-text {
  font-size: 75px !important;
  margin-top: 20px; /* Reduced from 500px */
  font-family: 'Poppins', sans-serif;
  color: #FFA500;
}

.additionalText {
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px; /* Reduced from 20px */
}

.neonOrange {
  color: #FFA500;
}

/* Responsive font sizes for smaller screens */
@media (max-width: 600px) {
  .main-text {
    font-size: 2rem !important; /* Adjusted for mobile */
    margin-top: 20px; /* Adjusted for mobile */
  }

  .additionalText {
    font-size: 1.5rem; /* Adjusted for mobile */
  }
}
